		
		/* 珥덇린�솕 */
	*{
		margin : 0;
		padding : 0;
	}
	
	body{
		font-family: sans-serif;
	}
	
	li{
		list-style: none;
	}
	
	a{
		text-decoration: none;
		color: #333;
		font-weight: bold;
	}
	a:hover{
		color : #fb2525;
	}
	div{
		color : #333;
	}
	img{
		border: 0;
	}
	
	table {
		width: 100%;
		border-collapse: collapse;
		font-size: 12px; /* 湲�瑗� �겕湲� */
		line-height: 24px; /* 以� 媛꾧꺽 */
		text-align: center;
	}	
	
	table td,th {
	border: solid 1px gray; /* 寃쎄퀎�꽑 �깋�긽 �뒪���씪 援듦린 */
	padding: 5px; /* �븞履� �뿬諛� */
	}

	th {
		background: silver; /* 諛곌꼍�깋 */
	}
	
	#tr1{
		font-size: 15px;
	}

		/* �뿤�뜑 */
	#main_header{
		width: 100%; 
		margin: 0 auto;
		height: 90px;
		position: relative;
		border-top : 4px solid #fb2525;
		border-bottom: 1px solid #fb2525;
	}
	
	#main_header > #title{
		position: absolute;
		top:10px;
		left : 400px;
	}

	
	#main_header > #main_lnb{
		position: absolute;
		top : 30px;
		left : 660px;
		bottom: 4px;
	}
		
		/* 	硫붾돱2 */
	#main_lnb > ul{
		overflow:hidden;
		margin-right: 370px;
		margin-bottom: 18px;
		width : 600px;
		
	}
	#imgBox{
		position : absolute;
		top : 0;
		left : 700px;
		display : inline-block;
		
	}
	#imgBox,#place,#temp{
		margin-left : 10px;
	}
	#imgBox img{
		width : 30px;
		height : 30px;
	}
	#imgBox h4{
		display : inline-block;
	}
	#main_lnb > ul > li{
		overflow:hidden;
		float: left;
	}
	
	#main_lnb > ul > li > a{
		display: block;
		padding: 10px 20px; 
		font-size: 20px;
	}
	
	#main_lnb > ul > li > a:hover {
		color: #fb2525;
	}
	
		/* 	肄섑뀗痢� */
	#content{
		width:1200px; 
		height: 760px;
		margin: 0 auto;
		overflow: hidden;
	}
	
	#content > #box1{ /*�궡�젙蹂�*/
		position: absolute;
		width: 280px;
		height: 140px;
		border : 1px solid gray;
		border-radius : 5px;
		margin-top: 30px;
		margin-left: 10px;
		background-color: #FAFAFA;
	}
	
	#content > #box1 > #imageBox1 {
		display : inline-block;
		height: 50px;
	}
	#content > #box1 > #userInfo{
		position : absolute;
		display : inline-block;
		height : 50px;
		top : 20px;
		left : 130px;
	}
	#content > #box1 > #imageBox1 > #image1 {
		width: 60px;
		height: 60px;
		margin-top: 20px;
		margin-left: 40px;
		border-radius: 50%;
	}
	
	#content > #box1 > #imageBox2 > #image2 {
		width: 60px;
		height: 60px;
		margin-top: 10px;
		margin-left: 30px;
	}

	#content > #box1 > #imageBox2 > #image3 {
		width: 60px;
		height: 60px;
		margin-top: 10px;
		margin-left: 80px;
	}
	
	#box2_title{
		font-size : 20px;
		width : 100%;
		padding-left : 5px;
		padding-bottom : 10px;
		border-bottom: 2px solid gray;
	}
	#content > #box2 { /*怨듭��궗�빆*/
		position: absolute;
		width: 415px;
		height: 210px;
		border-bottom: 1px solid lightgray;
		margin-top: 30px;
		margin-left: 310px;
		background-color: white;
	}
	#content > #box2 > #colorBox1 {
		position: absolute;
/* 		background-color: #F7819F; */
		width: 30px;
		height: 210px;
		margin-left: 385px;
	}
	
	#content > #box3{ /*�궗�궡 �봽濡쒖젥�듃*/
		position: absolute;
		width: 355px;
		height: 210px;
		border-bottom: 1px solid lightgray;
		margin-top: 30px;
		margin-left: 780px;
		background-color: white;
	}
	#box3_title{
		font-size : 20px;
		width : 100%;
		padding-left : 5px;
		padding-bottom : 10px;
		border-bottom: 2px solid gray;
	}
	
	#content > #box3 > #colorBox2 {
		position: absolute;
/* 		background-color: #F7819F; */
		width: 30px;
		height: 210px;
		margin-left: 325px;
	}
	
	#content > #box4{ /*硫붿떊��*/
		position: absolute;
		width: 150px;
		height: 80px;
		margin-top: 165px;
		margin-left: 10px;
		background-color: white;
	}
	#content > #box11{ /*硫붿씪*/
		position : absolute;
		width : 150px;
		height : 80px;
		margin-top : 265px;
		margin-left : 10px;
		background-color: white;
	}
	
	#content > #box5{ /*寃곗옱�옉�꽦*/
		position: absolute;
		width: 150px;
		height: 80px;
		margin-top: 300px;
		margin-left: 10px;
		background-color: white;
	}
	
	#content > #box6{ /*�옄�옱�쁽�솴*/
		position: absolute;
		width: 415px;
		height: 210px;
		border-bottom: 1px solid lightgray;
		margin-top: 260px;
		margin-left: 310px;
		background-color: white;
	}
	#box6_title{
		font-size : 20px;
		width : 100%;
		padding-left : 5px;
		padding-bottom : 10px;
		border-bottom: 2px solid gray;
	}
	#content > #box6 > #colorBox3 {
		position: absolute;
/* 		background-color: #F7819F; */
		width: 30px;
		height: 210px;
		margin-left: 385px;
	}
	
	#content > #box7 { /*�씡紐낃쾶�떆�뙋*/
		position: absolute;
		width: 355px;
		height: 210px;
		border-bottom: 1px solid lightgray;
		margin-top: 260px;
		margin-left: 780px;
		background-color: white;
	}
	#box7_title{
		font-size : 20px;
		width : 100%;
		padding-left : 5px;
		padding-bottom : 10px;
		border-bottom: 2px solid gray;
	}
	#content > #box7 > #colorBox4 {
		position: absolute;
/* 		background-color: #F7819F; */
		width: 30px;
		height: 210px;
		margin-left: 325px;
	}

	#content> #calendar { /*占쎈뼎占쎌젾*/
		position: absolute;
		width: 275px;
		height: 330px;
		padding : 5px;
		border-top: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
		margin-top: 380px;
		margin-left: 10px;
		display: inline-block;
		background-color: white;
		
	}
	
	.fc-sun {color:#e31b23}
	.fc-sat {color:#007dc3}
	.fc-left {font-size: 10px}
	
	
	#content > #box9{ /*�씠�떖�쓽 �깮�씪�옄*/
		position: absolute;
		width: 355px;
		height: 230px;
		border-bottom: 1px solid lightgray;
		margin-top: 490px;
		margin-left: 780px;
		background-color: white;
	}
	#box9_title{
		font-size : 20px;
		width : 100%;
		padding-left : 5px;
		padding-bottom : 10px;
		border-bottom: 2px solid gray;
	}
	#content > #box9 > #colorBox5 {
		position: absolute;
/* 		background-color: #F7819F; */
		width: 30px;
		height: 230px;
		margin-left: 325px;
	}
	
	#content > #box10{ /*遺��꽌 寃뚯떆�뙋*/
		position: absolute;
		width: 415px;
		height: 230px;
		border-bottom: 1px solid lightgray;
		margin-top: 490px;
		margin-left: 310px;
		background-color: white;
	}
	#box10_title{
		font-size : 20px;
		width : 100%;
		padding-left : 5px;
		padding-bottom : 10px;
		border-bottom: 2px solid gray;
	}
	#content > #box10 > #colorBox6 {
		position: absolute;
/* 		background-color: #F7819F; */
		width: 30px;
		height: 230px;
		margin-left: 385px;
	}
	


		/* 	�뫖�꽣     */

	#main_footer{
		width: 100%; 
		margin: 0 auto;
		height: 110px;
		position: relative;
		top:30px;
		border-top: 1px solid #fb2525;
	}

	
	