		
		/* 초기화 */
	*{
		margin : 0;
		padding : 0;
	}
	
	body{
		font-family: sans-serif;
	}
	
	li{
		list-style: none;
	}
	
	a{
		text-decoration: none;
		color: black;
		font-weight: bold;
	}
	
	a:hover{
		color : #fb2525;
	}
	
	div{
		color : #333;
	}
	
	img{
		border: 0;
	}
/* 	#main_header > #main_gnb{ */
/* 		position: absolute; */
/* 		right: 0; */
/* 		top: 0; */
/* 	} */
	
	#main_header > #main_lnb {
		position: absolute; 
		top : 30px;
		left : 660px;
		bottom: 4px;
	}
	
		/* 	메뉴2 */
	#main_lnb > ul{
		overflow:hidden;
		margin-right: 370px;
		margin-bottom: 18px;
		
	}
	
	#imgBox{
		position : absolute;
		top : 0;
		left : 700px;
		display : inline-block;
		
	}
	#imgBox img{
		width : 30px;
		height : 30px;
	}
	#imgBox h4{
		display : inline-block;
	}
	
	#main_lnb > ul > li{
		float: left;
	}
	
	#main_lnb > ul > li > a{
		display: block;
		padding: 10px 20px; 
		font-size: 20px;
	}
	
	#main_lnb > ul > li > a:hover {
		color: #fb2525;
	}
	
		/* 	콘텐츠 */
	#content{
		width:1200px; 
		height: 760px;
		margin: 0 auto;
		overflow: hidden;
	}
	
	#content > #nameBox {
		position : absolute;
		width : 200px;
		height : 100px;
		margin-left: 260px;
		margin-top: 20px;
	}
	
	#content > p > a {
		font-family: monospace;
		font-weight: normal;
	}
	
	#table {
		position: absolute;
<<<<<<< HEAD
		width : 800px;
		max-height: 480px;
		background-color: white;
		margin-top : 47px;
		margin-left : 280px;
		overflow-y: auto;
	}
	#menuBox2 > hr {
		border: 1px solid gray;
		margin-top: 5px;
	}
	/* 받은 메시지함 */
	#messageTable{
		border: none;
	}
	#messageTable td{
		padding: 2px;
		text-align: left;
		border-bottom: 0.3px solid silver;
		margin-bottom: 2px;
	}
	#msg-deleteBtn, #msg-deleteBtn-ever, #msg-restoreBtn{
		margin-left: 20px;
=======
		margin-top: 30px;
		margin-left: 10px;
		width: 750px;
	}
	
	#tr1 {
		font-size: 17px;
		padding: 8px;
>>>>>>> parent of 0048f39... 07.20 test
	}
	
	th {
		background-color: #E6E6E6;
		padding: 8px;
	}

	/* 메뉴박스1 (board_main_css)*/
	#content > #menuBox1 {
		position: absolute;
		width : 200px;
		height: 700px;
		background-color: white;
		margin-top: 20px;
		margin-left: 20px;
	}
		
	#hr1 {
		border: 1.5px solid #fb2525;
	}
	
	#hr2 {
		border: 0.5px solid #fb2525;
		margin-top: 120px;
	}
	
	#hr3 {
		border: 1.5px solid gray;
	}
	
	#hr4 {
		border: 1px solid silver;
		margin-top: 600px;
	}
		
	#content > #menuBox1 > #menuBox1Ul > li > a {
		font-size: 15px;
	}
	
	#content > #menuBox1 > #menuBox1Ul {
		padding-left: 30px;
	}
	
	/* 메뉴박스2 (board_main_css)*/
	#content > #menuBox2 {
		position: absolute;
		width : 800px;
		height : 170px;
		background-color: white;
		margin-top : 50px;
		margin-left : 260px;
	}
	
	#content > #menuBox2 > #colorBox1 {
		position: absolute;
		background-color: #3CB371;
		width: 30px;
		height: 200px;
		margin-left: 770px;
	}
	
	/* 메뉴박스3 (board_main_css)*/
	#content > #menuBox3 {
		position: absolute;
<<<<<<< HEAD
		padding: 5px;
		color: #333;
		background-color: #fff;
		border: 1px solid #333;
	}
	#msg_searchBox > input[type="button"]{
		margin-left: 265px;
	}
	#msg_searchBox > input[type="text"]{
		margin-left: 75px;
		margin-top: 1px;
	}
	/*쓰기 화면*/
	#msg_sendBox > #receiver{
		width: 46.5%;
	}
	#msg_sendBox > #title{
		width: 50%;
	}
	#msg_sendBox > p{
		font-size: 12px;
		margin-top: 5px;
	}
	#msg_sendBox > input[type="button"], #msg_sendBox > input[type="submit"]{
		text-align: center;
		display: inline-block;
		padding: 3px;
		color: #333;
		background-color: #fff;
		border: 0.5px solid silver;
=======
		width : 800px;
		height : 200px;
		background-color: white;
		margin-top : 290px;
		margin-left : 260px;
>>>>>>> parent of 0048f39... 07.20 test
	}
	
	#content > #menuBox3 > #colorBox2 {
		position: absolute;
		background-color: #3CB371;
		width: 30px;
		height: 200px;
		margin-left: 770px;
	}
	/* 메뉴박스4 (board_main_css)*/
	#content > #menuBox4 {
		position: absolute;
		width : 800px;
		height : 200px;
		background-color: white;
		margin-top : 520px;
		margin-left : 260px;
	}
	
	#content > #menuBox4 > #colorBox3 {
		position: absolute;
<<<<<<< HEAD
		top: 40%;
		left: 40%;
		padding: 10px;
		margin-top: -100px;
		margin-left: -100px;
		z-index: 1000;
	}
	#msg-write-btn, #btn-reply, #msg-receiver-btn{
		text-align: center;
		display: inline-block;
		padding: 3px;
		color: #333;
		background-color: #fff;
		border: 0.5px solid silver;
	}
	#btn-reply{
		font-size: 12px;
		cursor: pointer;
	}
	#receiver{
		margin-bottom : 10px;
	}
	#Organization-chart{
		top : 100px;
		left : 700px;
		width : 300px;
		height : 200px;
		background-color: #fff;
		color: black;
		position: absolute;
		z-index : 1000;
	}
	#o-chart{
		position: inherit;
		left : 0px;
	}
	#chart-button{
		position: inherit;
		top: 150px;
		z-index: 500;
	}
	#chatRoom-list{
		width: 500px;
		height: auto;
		max-height: 50px;
		overflow-y: auto;
	}
	#th1{
		text-align: left;
		font-size: 12px;
		width: 80%;
	}	
	#th2{
		font-size: 12px;
	}
	#th1, #th2{
		font-weight: normal;
	}
	
/* 	#chatRoom-list > tr > #th2{ */
/* 		width: 19%; */
/* 		text-align: center; */
/* 	} */
	.chatList-tr{
		text-align: left;
		font-size: 15px;
	}
	.chatList-title-a{
		margin-left : 20px;
	}
	.chatList-tr > span{
		font-size: 12px;
		color: orange;
	}
	#chat-invite-table{
		width: 600px;
	}

	
=======
		background-color: #3CB371;
		width: 30px;
		height: 200px;
		margin-left: 770px;
	}
>>>>>>> parent of 0048f39... 07.20 test
